* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins", serif;
}

:root {
    --corFont:#21272A;
    --verdeClaro:#8CC63E;
    --azulClaro:#39A3CC;
    --amareloDourado:#E08E2C;
    --rosaChoque:#E9147E;
    --roxoMedio:#9D2890;
    --roxoEscuro:#3E3693;
    --fontOpaca:#C1BDBD;
}

button:hover {
    
}
